.exam-card {
 
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 8px;
  max-width: 550px;
  width: 300px;
  flex: 1 2 300px; /* Apply the flex property here */
  background-color: #b9f2ec;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
  

  .toggle-questions-button ,.result{
    margin: 10px;
    padding: 10px 10px;
    font-size: large;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  .exam-title {
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: #afc6df;
    color: #000000;
  }
  .exam-title span{

  color: #304a67;
  }
  
  .exam-date,
  .exam-duration,
  .exam-code,
  .exam-created-by {
    font-family:'Times New Roman', Times, serif;
    margin: 6px 0;
    font-size: larger;
    color: #080707;
  }
  
  .questions-list {
    border: 1px solid;
    background-color: #80858a;
    height: 200px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 6px;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .questiont {
    background-color: #91cdcd;
    justify-content: center;
    margin: 5;
    width: 100%;
    max-width:550px;
    margin: 12px 0;
    border-radius: 6px;
    padding: 14px;
  }
  
  .ecquestion-text {
 
    padding: 4px;
    border-radius: 12px;
   
    font-weight: bold;
 
  }
  
  .ecoptions-list {
    border-radius:14px ;
    padding: 5px;
    background-color:rgb(245, 245, 245);
    list-style: none;

    margin-top: 8px;
  }
  
  .ecoption {
    background-color: #c9d4e0;
    padding: 4px;
    border-radius: 14px;
    margin: 6px 0;
  }
  
  .ecselected {
    background-color: #12f328;
  }
  
  .idelete-button:hover {
    background-color: #9e1616;
  }
  
  .idelete-button {
    margin-top: 15px;
    float: right;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-family: 'Arial', sans-serif;
    font-size: 14px;

  }
  
  .idelete-icon {
    text-align: center;
    margin: auto;

  }
  