/* SearchUser.css */

@media (max-width: 768px) {

  .teach-dash-right .search-user-container{
    margin: 0px;
    padding: 0px;
  }
}



/* Container */
.search-user-container {
  justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 25px;
    border-radius: 10px;
 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
  }
  
  /* Heading */
.head {
  text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
    background-color: #d1f5d1;
  }
  .search-input{
    display: flex;
    justify-content: space-between;
  }
  /* Search input and button */
  .search-user-container input[type="text"] {
    margin-top: 3px;
    width: calc(160px);
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  .search-input input:focus{
    border-radius:25px 0px 0px 25px;
    background-color: #2c2c2cae;
    width: calc(100% - 126px);
   caret-color: #fff;
   color: #d1f5d1;
   caret-shape:block;
    outline: none;
    border:2px solid black ;
  }
  .srchbtn{
    width: 100px;
    display: inline-block;
    padding: 12px 24px;
    margin: 5px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .srchbtn:hover {
    background-color: #0056b3;
  }
  
  /* User card list */
  .user-card-list {
    justify-content: space-around;
    background-color: #474a475d;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }
  
  /* User card item */
  .user-card {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    flex: 250px 1 5;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 15px;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-card-email{
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .searchimg{
    min-width: 45px;
    min-height: 45px;
    max-width: 100px;
    max-height: 100px;


    background-color: #007bff;
  }
  .searchimg img{
    min-width: 45px;
    min-height: 45px;
    max-width: 100px;
   
  }
  .user-card p {
    margin: 10px 0;
    color: #0a0a0a;
  }
  
  /* Different styles for user types */
  .student-info {
    padding: 10px;
    background-color: #8cfd8ceb;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
  }
  
  .teacher-info {
    padding: 10px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
    margin-top: 20px;
    border-radius: 5px;
  }
  