.mainnav {
  position: sticky;
  top: 0;
  /* background-color: #3498db; */
  background-color: rgba(201, 223, 241, 0.959);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #2980b9;
}

.mainnav #home {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  user-select: none;
}

.mainnav #home:active {
  background-color: rgb(241, 241, 241);
  color: blueviolet;
}

.mainnav h2 {
  color: white;
  font-size: 20px;
  margin: 0;
  display: flex;
  align-items: center;
}

.buttonStyles {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

.buttonStyles i {
  font-size: 20px;
  margin-right: 5px;
}

.buttonStyles:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .mainnav {
    padding: 10px;
  }
  .mainnav h2 {
    font-size: calc(1em + 2vw - 7px);
  }
  .buttonStyles {
    padding: 5px 10px;
  }
}
