body {
  /* Set initial background color */
  background-color: bisque;
  background-image: url('./Components/Dashbord/media/body.png');
background-size: cover;
  /* Create a gradient background with animation */
  /* background-image: radial-gradient(circle, #d0cfc9, #1e211e, #323231);
  background-size: 100% 150%; */

  /* Add animation */
  /* animation: gradientAnimation 5s linear alternate infinite; */
}

/* Define the animation keyframes */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
