body {
  /* Set initial background color */
  background-color: rgba(209, 209, 209, 0.086);
background-image: url('./Components/Landing/toplogoeximo.png');

  /* background-image: url('./Components/Dashbord/media/body.png'); */
background-size: cover;
  /* Create a gradient background with animation */
  /* background-image: radial-gradient(circle, #d0cfc9, #1e211e, #323231);
  background-size: 100% 150%; */

    overflow: auto; /* Hide scrollbar */
      scroll-behavior: smooth; /* Enable smooth scrolling for the entire page */

  /* Add animation */
  /* animation: gradientAnimation 5s linear alternate infinite; */
}
*{
  transition: .2s linear
}
/* Define the animation keyframes */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.hidden{
  transition: all 2s;
  display: none;
}